@import '../../styles/colors';
@import '../../styles/typography';

.Navbar {
    background: $color-navbar-bg;
    color: $color-navbar-txt;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.5em 0.25em;

    &__logo {
        align-items: center;
        display: flex;
        flex: 1;
        padding: 0 0.5em;

        a {
            color: $color-navbar-draft;
            font-weight: $fontweight-bold;
            text-decoration: none;
        }
    }

    &__draft {
        @include fontsize($fontsize-small);
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;

        svg {
            height: 48px;
            fill: $color-navbar-draft;
            width: 48px;
        }

        a {
            align-items: center;
            color: $color-navbar-draft;
            display: flex;
            flex-direction: column;
            font-weight: $fontweight-bold;
            justify-content: center;
            text-decoration: none;
        }
    }

    &__user {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}
