@import '../../../styles/colors';
@import '../../../styles/typography';

.Hi5CardFooter {
    @include fontsize($fontsize-small);
    color: $color-feed-txt-alt;
    display: flex;
    padding-top: 1.0em;

    &__likes {
        align-items: center;
        display: flex;
        flex: 1;

        div {
            align-items: center;
            display: flex;

            svg {
                margin-right: 0.25em;
                width: $fontsize-small;
            }
        }
    }

    &__value {
        flex: 1;
        text-align: center;
    }

    &__impact {
        flex: 1;
        text-align: center;
    }

    &__title {
        display: block;
        font-weight: $fontweight-bold;
        text-transform: uppercase;
    }
}
